@use '../../styles/variables' as *;


.loading,
.error {
  text-align: center;
  padding: $space-2xs;
}

.error {
  color: $error-color;
}

@media (min-width: $breakpoint-sm) {
  .container {
    margin: $space-md auto;
    padding: $space-md;
  }

  .title {
    margin-bottom: $space-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .container {
    margin: $space-xl auto;
    padding: $space-lg;
  }

  .title {
    font-size: $font-size-4xl;
    line-height: $leading-4xl;
    margin-bottom: $space-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    margin: $space-2xl auto;
    padding: $space-xl;
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    margin: $space-2xl + $space-xl auto;
    padding: $space-lg;
  }
}